p,li,h1{
    color: red;
}

#parrafo2{
    text-align: center;
    color: green;
}
p.texto1{
    font-size: 40px;
}
hgroup h1{
    font-size: 60px;
}
ul>li{
    color:gold;
}
h1+h2{

    color: green;
}
img~p{
    text-align: justify;
}
li:nth-child(4){
    font-size: 30px;
}
a:hover{
    color:aqua;
}
a.link{
    color: #FF0000;
}
a:visited{
    color: #00FF00;
}
p::first-letter{
    font-size: 40px;
    color: indigo;
}